beautifulsoup4
bs4
cassio
chromadb
faiss-cpu
fastapi
groq
langchain
langchain_openai
langchain_core
langchain_community
langchainhub
langchain-groq
langchain-objectbox
langserve
python-dotenv
PyPDF2
pypdf
requests
sentence-transformers
sse_starlette
streamlit
uvicorn
wikipedia
arxiv
